<div class="row grey lighten-5">
  <style>
    img {
      max-width: 300;
      max-height: 200;
      margin: 5%;
    }
    #quizImg{
      max-width: 700;
      max-height: 500;
      margin: 5%;
    }
    body { 
      font-family:sans-serif;
    }
  </style>
  <div class="col s12">
      <header>
          <div class="col s4 left flow-text ">
              <h4>Department of Computer Science and Engineering</h4>
              <!-- <img class="right" src="images/cse.png" alt="No IMG"> -->
          </div>
          
          <div class="col s4 center">
              <h1>
                  GIT Quiz
              </h1>
          </div>
          <div class="col s4 right ">
              <img src="images/logo.png" class="right" alt="no img">
          </div>
          
      </header>
  </div>
</div>

<!-- <nav>
    <div class="nav-wrapper blue-grey darken-4 ">
      <a href="#" class="brand-logo center flow-text">GIT Quiz</a>
    </div>
</nav> -->
        