<div class="row grey lighten-5">
  <style>
    #logo {
      max-width: 300;
      max-height: 200;
      margin: 5%;
    }
    #quizImg{
      max-width: 700;
      max-height: 500;
      margin: 5%;
    }
    #head{
      max-width: 800;
      max-height: 100;
      margin: 5%;
    }
    body { 
      font-family:sans-serif;
    }
  </style>
  <div class="col s12">
      <header>
          
          
          
          <div class="col s3  left ">
              <img src="images/logo.png" class="left " id="logo" alt="no img">
          </div>

          <div class="col s9 right  ">
            <img src="images/git_head.png" class="center" id="head" alt="no img">
        </div>

          
      </header>
  </div>
</div>

<!-- <nav>
    <div class="nav-wrapper blue-grey darken-4 ">
      <a href="#" class="brand-logo center flow-text">GIT Quiz</a>
    </div>
</nav> -->
        