<html>

<head>
    <title>
        Admin Page
    </title>

</head>

<body class="lime lighten-5">
    <%- include('partials/style.ejs') %>
    <%- include('partials/code_highlighter.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1>Add Questions</h1>
            </div>

            <div class="col s12">
                <h4>
                    Guidelines
                </h4>
            </div>
            <div class="col s12 flow-text">


                <p> Multiple :</p>
                <p> -Enter the text of correct answer not the option like a,b,c,d.</p>
                <p> Matching :</p>
                <p> -Enter the answer in ',' delimiter list; 2 means 2nd in right; ONLY 1 to 4</p>

            </div>
        </div>

        <div class="row">
            <div class="col s12">

                <div class="divider"></div>
                <div>
                    <h2>
                        Multiple choice question
                    </h2>
                </div>
                <form action="/admin" method="POST" id="question-form">
                    <input type="text" value="multi" name="type" hidden>


                    <div class="input-field col s12">
                        <label for="mq_id">Question 1</label>
                        <input type="text" name="question" id="mq_id">
                    </div>


                    <div class="input-field col s12">
                        <input type="text" id="mop1_id" name="options">
                        <label for="mop1_id">option1</label>

                    </div>

                    <div class="input-field col s12">
                        <input type="text" id="mop2_id" name="options">
                        <label for="mop2_id">option2</label>
                    </div>


                    <div class="input-field col s12">
                        <input id="mop3_id" type="text" name="options">
                        <label for="mop3_id">option3</label>
                    </div>


                    <div class="input-field col s12">
                        <input id="mop4_id" type="text" name="options">
                        <label for="mop4_id">option4</label>
                    </div>


                    <div class="input-field col s12">

                        <label for="mans_id">answer</label>
                        <input type="text" id="mans_id" name="answer">

                    </div>
                    <div id="code_id" class="input-field col s12" hidden>
                        <textarea id="codeArea" name="code" class="materialize-textarea"></textarea>
                        <label for="codeArea">Code</label>
                    </div>
                    <div class="input-field col s10 ">

                        <button class="waves-effect waves-light btn-large" onclick="M.toast({html: 'Question added'})"
                            type="submit">Submit</button>

                    </div>
                    <div class="col s2">
                        <label>
                            <input type="checkbox" onclick="toggle()" />
                            <span>Code</span>
                        </label>
                    </div>

                </form>

                <div class="divider"></div>



                <div class="col s12">
                    <h2>
                        Fill in the blank question
                    </h2>
                </div>
                <form action="/admin" method="POST" id="question-form">
                    <input type="text" value="fill" name="type" hidden>

                    <div class="input-field col s12"><label for="fq_id">Question 1</label>
                        <input type="text" id="fq_id" name="question">
                    </div>

                    <div class="input-field col s12">

                        <label for="fans_id">answer</label>
                        <input type="text" id="fans_id" name="answer">
                    </div>
                    <div id="code_id1" class="input-field col s12" hidden>
                        <textarea id="codeArea" name="code" class="materialize-textarea"></textarea>
                        <label for="codeArea">Code</label>
                    </div>
                    <div class="col s10">
                        <button class="waves-effect waves-light btn-large" type="submit" onclick="M.toast({html: 'Question added'})">Submit</button>
                    </div>
                    <div class="col s2">
                        <label>
                            <input type="checkbox" onclick="toggle1()" />
                            <span>Code</span>
                        </label>
                    </div>

                </form>
                <div class="divider"></div>




                <div>
                    <h2>
                        Matching question
                    </h2>
                </div>
                <form action="/admin" method="POST" id="question-form">
                    <input type="text" value="match" name="type" hidden>


                    <div class="input-field col s12">
                        <label for="maq_id">Question 1</label>
                        <input type="text" id="maq_id" name="question">
                    </div>



                    <div class="input-field col s12">
                        <label for="ml1_id">Left1</label>
                        <input id="ml1_id" type="text" name="left">
                    </div>



                    <div class="input-field col s12">

                        <label for="ml2_id">Left2</label>
                        <input id="ml2_id" type="text" name="left">
                    </div>


                    <div class="input-field col s12"> <label for="ml3_id">Left3</label>
                        <input id="ml3_id" type="text" name="left">
                    </div>


                    <div class="input-field col s12"> <label for="ml4_id">Left4</label>
                        <input id="ml4_id" type="text" name="left">
                    </div>



                    <div class="input-field col s12">
                        <label for="mr1_id">Right1</label>
                        <input id="mr1_id" type="text" name="right">
                    </div>


                    <div class="input-field col s12">
                        <label for="mr2_id">Right2</label>
                        <input id="mr2_id" type="text" name="right"></div>


                    <div class="input-field col s12">
                        <label for="mr3_id">Right3</label>
                        <input id="mr3_id" type="text" name="right">
                    </div>


                    <div class="input-field col s12">
                        <label for="mr4_id">Right4</label>
                        <input id="mr4_id" type="text" name="right">
                    </div>

                    <div id="code_id2" class="input-field col s12" hidden>
                        <textarea id="codeArea" name="code" class="materialize-textarea"></textarea>
                        <label for="codeArea">Code</label>
                    </div>
                    <div class="input-field col s12">

                        <label for="ma_ans_id">Answer</label>
                        <input id="ma_ans_id" type="text" name="answer" placeholder="Ex : 2,1,0,4">
                    </div>
                    <div class="col s10">
                        <button class="waves-effect waves-light btn-large" type="submit" onclick="M.toast({html: 'Question added'})">Submit</button></div>
                    <div class="col s2">
                        <label>
                            <input type="checkbox" onclick="toggle2()" />
                            <span>Code</span>
                        </label>
                    </div>


                </form>



                <div class="divider"></div>
                <div class="divider"></div>
                <div class="col s12">
                    <div>
                        <h2>
                            Coding question
                        </h2>
                    </div>
                </div>
                <form action="/admin" method="POST" id="question-form">
                    <input type="text" value="coding" name="type" hidden>


                    <div class="input-field col s12">
                        <label for="cq_id">Question</label>
                        <input type="text" id="cq_id" name="question">
                    </div>


                    <div class="input-field col s12">
                        <select name="lang">

                            <option value="cpp">C++</option>
                            <option value="java">Java</option>
                            <option value="python">Python</option>
                        </select>
                        <label>Choose the language</label>
                    </div>


                    <div class="col s12">
                        <div class=" input-field  col s6">
                            <label for="ctesti_id">Test Input</label>

                            <textarea type="text" class="materialize-textarea" id="ctesti_id" name="test_input"></textarea>
                        </div>
                        <div class=" input-field  col s6">
                            <label for="ctesto_id">Test Output</label>

                            <textarea type="text" id="ctesto_id" name="test_output" class="materialize-textarea"></textarea>
                        </div>
                    </div>

                    <div id="new_root" class="input-field col s12">
                        <div>
                            <div class="col s6  input-field ">
                                <label for="ci_id">Input</label>
                                <textarea type="text" id="ci_id" name="input" class="materialize-textarea"></textarea>
                            </div>
                            <div class="col s6  input-field ">
                                <label for="ca_id">Answer</label>
                                <textarea type="text" id="ca_id" name="answer" class="materialize-textarea"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col s10">
                        <button class="waves-effect waves-light btn-large" type="submit" onclick="M.toast({html: 'Question added'})">Submit</button></div>
                </form>
                <div class="col s2">

                    <input type="button" value="Add output" class="waves-light btn-large" onclick="addNewIO()">
                </div>
            </div>

            <div class="divider"></div>
            <form action="/cfg" method="POST">
                <div class="col s12">
                    <h3>
                        Config
                    </h3>
                </div>
                <div class="col s12">

                    

                    <div class="input-field col s12">

                        <textarea name="cfg" id="codemirror_cfg"></textarea>

                    </div>

                    <div class="col s2">

                        <input type="button" value="get CFG" class="waves-light btn-large" onclick="getCFG()">
                    </div>

                    <div class="col s2">

                        <input type="submit" value="update_CFG" class="waves-light btn-large">
                    </div>
                </div>
            </form>

        </div>


    </div>
    <script>
        var codemirror = document.querySelector('#codemirror_cfg');
            
        var editor  = CodeMirror.fromTextArea(codemirror, {
            lineNumbers: true,
            mode: 'javascript' ,
            smartIndent: true,
            theme: "monokai"

        });
        M.AutoInit();
        class IOpair {
            constructor(minput, moutput) {
                this.minput = minput;
                this.moutput = moutput;
            }

        }

        function addNewIO() {
            const main = document.querySelector("#new_root");
            const innerDiv = document.createElement('div');
            innerDiv.innerHTML =
                `<div class="col s6  input-field ">
                                <label for="ci_id">Input</label>
                                <textarea type="text" id="ci_id" name="input" class="materialize-textarea"></textarea>
                            </div>
                            <div class="col s6  input-field ">
                                <label for="ca_id">Answer</label>
                                <textarea type="text" id="ca_id" name="answer" class="materialize-textarea"></textarea>
                            </div>`;
            main.appendChild(innerDiv);
        }

        function getCFG() {
            console.log('getcfg');

            $.get('/cfg', function (res) {
                var pretty = JSON.stringify(res, undefined, 4);
                editor.setValue(pretty);
            });
        }


        function toggle() {
            var x = document.getElementById("code_id");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }


        function toggle1() {
            var x = document.getElementById("code_id1");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }

        function toggle2() {
            var x = document.getElementById("code_id2");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>

</body>

</html>