<meta name="viewport" content="width=device-width, initial-scale=1">
<html>

<body>
    <%- include('partials/style.ejs') %>
    <%- include('partials/header.ejs') %>


    <!-- <div class="row section">
        <div class="col s12">
            <div class="col s12">
                <img class="brand-logo" src="images/logo.png" alt="Gitam Logo" width="300" height="100">
            </div>
        </div>
    </div> -->

    <!-- <div class="divider"></div> -->
    <div class="container">
        <div class="row">
            <form action="login" method="POST">

                <div class="col s6  offset-s3 center">
                    <div class="section">
                        <h3> <%=name%> </h3>
                    </div>
                </div>

                <div class="col s6  offset-s3 center">
                    <div class="section">
                        <h2> User Login </h2>
                    </div>
                </div>

                <div class="col s6  offset-s3 ">
                    <div class="section ">
                        <p>Username : </p>
                        <input type="text" name="username" />
                    </div>
                </div>


                <div class="col s6 offset-s3 ">
                    <div class="section ">
                        <p>Password : </p>
                        <input type="password" name="password" />
                    </div>
                </div>

                <div class="col s6 offset-s3 center-align">
                    <div class="section">
                        <button class="waves-effect waves-light btn-large grey darken-2" onclick="validate()" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>