<meta name="viewport" content="width=device-width, initial-scale=1">
<html>

<head>
    <style>
        html,
        body {
            max-width: 100%;
            overflow-x: hidden;
        }

        #back {
            background-image: url("images/back.png");

            width: 100%;
            height: 100%;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;

        }       

        
    </style>
</head>

<body>

    <%- include('partials/style.ejs') %>
    <div class="row">
        <%- include('partials/header.ejs') %>

        <div class="col s12 red accent-2 center">

            <h3> <%=name%> </h3>

        </div>

        <div id="back" class="col s12">
            <div class="container">

                <form action="login" method="POST">

                    <div class="col s6  offset-s3 center">
                        <div class="section">
                            <h2> Login </h2>
                        </div>
                    </div>

                    <div class="col s6  offset-s3 input-field">
                        <div class="section input-field ">
                            <h4 >Username : </h4>
                            <input type="text" name="username" class="white-text"/>
                        </div>
                    </div>


                    <div class="col s6 offset-s3 ">
                        <div class="section input-field ">
                            <h5 >Password : </h5 >
                            <input type="password" name="password" />
                        </div>
                    </div>

                    <div class="col s6 offset-s3 center-align">
                        <div class="section">
                            <button class="waves-effect waves-light btn-large red accent-3" onclick="validate()"
                                type="submit">Submit</button>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</body>

</html>